<section class="about">
<div id="quienes-somos" class="ancla"></div>
    <h2 class="about--title">QUIÉNES SOMOS</h2>
<div class="container-wrapper">
<!-- About Carolina -->
<div class="wrapper">
    <div class="item item1">
        <img src="assets/images/Carolina.jpg" class="about--img" alt="foto Carolina">
    </div>
    <div class="item item2">
        <h4 class="about--name">Carolina</h4>
    </div>
    <div class="item item3">
        <p class="about--text">De informática a técnico de calidad de móviles. Buscando un cambio en mi vida profesional para desarrollarme en lo que siempre me gustó "El desarrollo web", Gracias a Adalab podré hacer mi sueño realidad y desarrollarme en este sector.</p>
    </div>
    <div class="item item4">
        <ul class="about--icons">
            <li class="about--icons--li">
                <a class="we--icons" href="https://twitter.com/CarolCesp" target="_blank" >
                <i class="fab fa-twitter i--icon" title="twitter icon"></i>
                </a>
            </li>
            <li class="about--icons--li">
                <a class="we--icons" href="https://es.linkedin.com/" target="_blank">
                <i class="fab fa-linkedin-in i--icon" title="linkedin icon"></i>
                </a>
            </li>
            <li class="about--icons--li">
                <a class="we--icons" href="https://github.com/carolcesp" target="_blank">
                <i class="fab fa-github-alt i--icon" title="github icon"></i>
                </a>
            </li>
            <li class="about--icons--li">
                <a class="we--icons" href="https://mail.google.com" target="_blank">
                <i class="fas fa-envelope i--icon" title="email icon"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- About Laura -->
<div class="wrapper">
        <div class="item item1">
            <img src="assets/images/Laura.jpg" class="about--img" alt="foto Laura"/>
        </div>
        <div class="item item2">
            <h4 class="about--name">Laura</h4>
        </div>
        <div class="item item3">
            <p class="about--text">Antigua estudiante en Farmacia. Te sirve desayunos y te hace un Black Russian que te deja tumbado en el suelo. Amante de los animales, en especial de los cánidos. Buscando reinventarse, encontró Adalab.</p>
        </div>
        <div class="item item4">
             <ul class="about--icons--right">
                 <li class="about--icons--li">
                    <a class="we--icons" href="https://twitter.com/lgago94" target="_blank">
                    <i class="fab fa-twitter i--icon" title="twitter icon"></i>
                    </a>
                </li>
                <li class="about--icons--li">
                    <a class="we--icons" href="https://es.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin-in i--icon" title="linkedin icon"></i>
                    </a>
                </li>
                <li class="about--icons--li">
                    <a class="we--icons" href="https://github.com/laurag94" target="_blank">
                    <i class="fab fa-github-alt i--icon" title="github icon"></i>
                    </a>
                </li>
                <li class="about--icons--li">
                    <a class="we--icons" href="https://mail.google.com" target="_blank">
                    <i class="fas fa-envelope i--icon" title="email icon"></i>
                    </a>
                </li>
            </ul>
        </div>
</div>
<!-- About Lilia -->
<div class="wrapper">
    <div class="item item1">
        <img src="assets/images/Lilia.jpg" class="about--img" alt="foto Lilia" />
    </div>
    <div class="item item2">
        <h4 class="about--name">Lilia</h4>
    </div>
    <div class="item item3">
        <p class="about--text">Licenciada en Derecho. 8 años de experiencia comercial  y ha tomado la decisión de reorientar su carrera profesional con el ánimo de continuar aprendiendo y , también, aportar toda su experiencia adquirida.Considera que el cambio es un signo de capacidad de superación.</p>
    </div>
    <div class="item item4">
        <ul class="about--icons">
            <li class="about--icons--li">
                <a class="we--icons" href="https://twitter.com/BorrazasLilia" target="_blank">
                <i class="fab fa-twitter i--icon" title="twitter icon"></i>
                </a>
            </li>
            <li class="about--icons--li">
                <a class="we--icons" href="https://www.linkedin.com/in/liliaborraz%C3%A1s/ "target="_blank">
                <i class="fab fa-linkedin-in i--icon" title="linkedin icon"></i>
                </a>
            </li>
            <li class="about--icons--li">
                <a class="we--icons" href="https://github.com/Liliaborrazas "target="_blank">
                <i class="fab fa-github-alt i--icon" title="github icon"></i>
                </a>
            </li>
            <li class="about--icons--li">
                <a class="we--icons" href="https://mail.google.com "target="_blank">
                <i class="fas fa-envelope i--icon" title="email icon"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- About Paula -->
<div class="wrapper">
    <div class="item item1">
        <img src="assets/images/Paula.jpg" class="about--img" alt="foto Paula" />
    </div>
    <div class="item item2">
        <h4 class="about--name">Paula</h4>
    </div>
    <div class="item item3">
        <p class="about--text">Su trayectoria siempre ha ido de la mano de la creatividad. Estudió audiovisuales, animación y multimedia, y su carrera profesional se ha centrado en la edición de vídeo. Es una persona curiosa, inquieta y entusiasta, y le encanta enfrentarse a nuevos retos.El desarrollo front-end se ha convertido en su mayor pasión.</p>
    </div>
    <div class="item item4">
        <ul class="about--icons--right">
            <li class="about--icons--li first">
                <a class="we--icons" href="https://twitter.com/Pixel_Vega" target="_blank">
                <i class="fab fa-twitter i--icon" title="twitter icon"></i>
                </a>
            </li>
            <li class="about--icons--li">
                <a class="we--icons" href="https://www.linkedin.com/in/pixel-vega-98a469173/" target="_blank">
                <i class="fab fa-linkedin-in i--icon" title="linkedin icon"></i>
                </a>
            </li>
            <li class="about--icons--li">
                <a class="we--icons" href="https://github.com/pixelvega" target="_blank">
                <i class="fab fa-github-alt i--icon" title="github icon"></i>
                </a>
                </li>
            <li class="about--icons--li">
                <a class="we--icons" href="https://mail.google.com" target="_blank">
                <i class="fas fa-envelope i--icon" title="email icon"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- About Roxana -->
<div class="wrapper">
    <div class="item item1">
        <img src="assets/images/Roxana.jpg" class="about--img" alt="foto Roxana" />
    </div>
    <div class="item item2">
        <h4 class="about--name">Roxana</h4>
    </div>
    <div class="item item3">
        <p class="about--text">Tras graduarse en Bellas Artes en la UCM realizó proyectos multidisciplinares entre que servía café y café de día y fotografiaba “zombies” de noche en los garitos de moda. Actualmente se ha lanzado al mundo digital, donde espera evolucionar y triunfar en la vida, como lo hace su “Sim”.</p>
    </div>
    <div class="item item4">
        <ul class="about--icons last-item">
            <li class="about--icons--li first">
                <a class="we--icons" href="https://twitter.com/RoxSBri" target="_blank">
                <i class="fab fa-twitter i--icon" title="twitter icon"></i>
                </a>
            </li>
            <li class="about--icons--li">
                <a class="we--icons" href="https://es.linkedin.com/" target="_blank">
                <i class="fab fa-linkedin-in i--icon" title="linkedin icon"></i>
                </a>
            </li>
            <li class="about--icons--li">
                <a class="we--icons" href="https://github.com/roxsb" target="_blank">
                <i class="fab fa-github-alt i--icon" title="github icon"></i>
                </a>
            </li>
            <li class="about--icons--li">
                <a class="we--icons" href="https://mail.google.com" target="_blank">
                <i class="fas fa-envelope i--icon" title="email icon"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
</div>
</section>