<section class="team">
        <div class="team--intro">
            <div id="equipo" class="ancla"></div>
            <h2 class="title--team title--contact">Contacto</h2>
            <p class="intro--team intro--contact">¿Te gustaría aumentar la visibilidad de tu negocio?, ¿quieres expandir tus ideas?, ¿deseas promocionar tu empresa con un aspecto moderno y actual a la altura de la misma?, ¿necesitas actualizar antiguos proyectos?...no lo dudes y <strong>contacta</strong> con nosotras rellenando el siguiente formulario y resolveremos tus dudas con la mayor brevedad posible:</p>
        </div>
        <form class="form" action="/signup" method="post">
            <label class="form--label" for="name">Nombre completo</label>
            <input class="form--input" id="name" type="text" name="name" value="Nombre..." onfocus="this.value=''" required>
            <label class="form--label" for="email">Email</label>
            <input class="form--input" id="email" type="email" name="email" value="nombre.apellidos@mail.com" onfocus="this.value=''" required>
            <label class="form--label telephone" for="telephone">Teléfono</label>
            <input class="form--input" type="tel" id="telephone" name="telephone" value="Ej. 123456789" onfocus="this.value=''">
            <label class="form--label" for="message">Mensaje</label>
            <input class="form--input" type="textarea" id="message" name="message" value="¿Qué necesitas?" onfocus="this.value=''" required>
            <input class="btn" type="button" value="Enviar">
        </form>
    </section>