<footer>
    <div class="footer--container">
        <p class="footer--copy">Kiesler Team &copy; 2018</p>
        <ul class="footer--list">
            <li><a href="index.html#equipo" class="footer--link">Equipo</a></li>
            <li><a href="index.html#quienes-somos" class="footer--link">Quiénes somos</a></li>
            <li><a href="contacto.html" class="footer--link">Contacto</a></li>
        </ul>
        <div class="div--logo">

         <a href="https://adalab.es/"><img src="assets/images/logo-adalab.png" class="footer--logo" alt="logo adalab"></a> 
        </div>
    </div>
</footer>