<section class="team">
    <div class="team--intro">
        <div id="equipo" class="ancla"></div>
        <h2 class="title--team">Equipo</h2>
        <p class="intro--team first-intro">Somos un grupo de 5 mujeres con recorridos formativos y profesionales muy diversos, cuyos caminos nos fueron guiando hasta conocer <strong>Adalab</strong>, donde hemos sido formadas  como programadoras <strong>Front-End.</strong></p>
        <p class="intro--team">Nuestro compromiso es ofrecer un servicio personalizado, completo y cuidado, con el cual podrás impulsar tu idea o negocio a cualquier lugar del mundo.</p>
    </div>
    <div class="team--strenght">
        <div class="team--triangle"></div>
        <div class="container--strenght">
            <div class="box-fort">
                <h3 class="title--fort">Fortalezas</h3>
                <p class="text--fort">Somos un grupo muy polifacético con diversas cualidades que nos permite abordar todo tipo de proyectos. Además nos entusiasma nuestro trabajo y nunca nos cansamos de aprender y mejorar.</p>
            </div>
            <div class="box-deb">
                <h3 class="title--deb">Debilidades </h3>
                <p class="text--deb">Nuestra corta trayectoria implica que aún nos falta mucho por conocer en el campo de la programación Front-Ed. Sin embargo, gracias a nuestro compromiso, ilusión y ganas de seguir creciendo y aprendiendo dichas carencias son superadas exitosamente.</p>
            </div>
        </div>
    </div>
</section>