@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:500');

/* MENU */
body{
    font-family: "Open sans" , sans-serif;
    margin: 0;
}
.nav--link{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 45px;
    transition: color ease .5s;
    &:hover {
        color: #14d9c4;
    }
}
.name {
    color: #ffffff;
    margin: 0;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-family: "Rubik";
    font-weight: 500;
    transition: color ease .5s;
    &:hover {
        color: #14d9c4;
    }
 }
 .menu-principal {
    text-decoration: none;
    background-color: $color-darkgreen;
    height: 60px;
    position: fixed;
    width: 100vw;
    z-index: 60;
    top: 0;}

.container-menu a{
    text-decoration: none;
}
.container-menu {
    text-decoration: none;
    height: 60px;
    width: 100vw;
    z-index: 60;
    top: 0;
}
.container-nav {
    background-color: rgba(20, 217, 196,.9);
    height: 45px;
    font-size: 15px;
    font-family: "Rubik";
    font-weight: 500;
    color: #ffffff;
}
.container-link {
    margin: 0;
    padding: 0;     
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

/* mediaquaries  */


@media all and (min-width:768px) and (max-width:1200px ){

    /* header */
    
    .menu-principal {
    text-decoration: none;
    background-color: $color-darkgreen;
    height: 60px;
    position: fixed;
    width: 100vw;
    z-index: 60;
    top: 0;}
    
    .name {
    margin: 0;
    text-align: left;
    margin-left: 45px;
    } 
    .container-link {
    top: 10px;
    right: 10px;
    margin-right: 35px;
    } 
    
    .container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    }
    .container-nav {
    background-color: transparent;
    }
    .nav--link{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 45px;
    margin: 10px;
    }
    }
    
    /* DESKTOP */
    
    @media all and (min-width:1201px) {
    
    /* header */
    
    .menu-principal {
    text-decoration: none;
    background-color: $color-darkgreen;
    height: 60px;
    position: fixed;
    width: 100vw;
    z-index: 60;
    top: 0;}
    
    .name {
    margin: 0;
    text-align: left;
    margin-left: 0;
    } 
    .container-link {
    top: 10px;
    right: 10px;
    margin-right: 0;
    } 
    
    .container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 924px;
    margin: 0 auto;
    
    }
    .container-nav {
    background-color: transparent;
    }
    .nav--link{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 45px;
    margin: 15px;
    }
    }
    