@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:500');

/* MENU */
body{
    font-family: "Open sans" , sans-serif;
    margin: 0;
}

/*COMIENZA EL ABOUT*/

.about{
  margin-left: 15px;
  margin-right: 15px;
  /* position: relative; */
}
.about--title {
  color: #099d8d;
  text-align: center;
  font-family: "Rubik", serif;
  font-weight: 500;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about--name{
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
}
.about--text{
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
/* modificaciones iconos */

.about--icons{
padding: 0;
margin-bottom: 45px;
list-style: none;
display: flex;
justify-content: center;
}
.about--icons--li{
  position: relative;
}
.about--icons--li + .about--icons--li::before {
  content:'';
  height: 2px;
  width: 2px;
  border-radius: 50%;
  display: inline-block;
  background: #54585a;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -11px;
}
.about--icons--li + .about--icons--li{
  margin-left: 20px;
}
.about--icons--li:first-child{
   padding-left: 0;
}

/* fin modificaciones iconos */

.about--ul{
  list-style: none;
  /* flex-direction: column;
  flex-wrap: nowrap; */
  /* width: 100%; */
  padding: 0;
}
.about--img{
  margin: 30px auto 15 auto;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 4px;
  box-shadow: 0 0 0 4px #B8B8B9;
}
.about--ul li{
  text-align: center;
}
.first{
  margin-left: 0;
}
.i--icon{
  color:  #099d8d;
}

@media all and (min-width: 768px){
.about--title{
  margin-top: 45px;
  margin-bottom: 45px;
}
.about--name{
  margin-top: 0px;
  margin-bottom: 0px;
}
.container--member{
  margin-left: 45px; 
  display: flex;
}
.container--member--right{
  margin-right: 45px;
  display: flex;
  flex-direction: row-reverse;
}
.about--img{
  width: 205px;
  height: 205px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.about--icons{
  padding: 0;
  margin-bottom: 60px;
  margin-top: 15px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  }
  .about--icons--right{
    padding: 0;
    margin-bottom: 60px;
    margin-top: 15px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    }
  /*cambiar margin para los demás miembros*/
.member--description{
  margin-left: 30px;
  margin-bottom: 0px;
  text-align: left;
}
.member--description--right{
  margin-right: 30px;
  margin-bottom: 0px;
  text-align: right;
}
}
@media all and (min-width: 1200px){
  .about--img{
    width: 278px;
    height: 278px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.container--member{
  margin-bottom: 60px;
  margin-left: 60px; 
  display: flex;
  align-content: flex-start;
}
.container--member--right{
  margin-right: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row-reverse;
}
.about--text{
  width: 439px;
}
.member--description{
  margin-left: 45px;
  margin-bottom: 0px;
  text-align: left;
}
.member--description--right{
  margin-right: 45px;
  margin-bottom: 0px;
  text-align: right;
}
}