@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:500');

/* MENU */
body{
    font-family: "Open sans" , sans-serif;
    margin: 0;
}
.hero {
  background-image: url("../images/kiesler-team.jpg");
  height: 421px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.container--claim {
  background-color: rgba(255, 255, 255,1);
  margin: 282px 15px 0 15px;
  padding: 15px;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}
.claim {
  margin: 0;
  color: #000000;
  font-size: 24px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
}
@media all and (min-width:768px) and (max-width:1200px ){
/* hero */


.container--claim {
   width: 441px;
   margin: 282px 15px 0 15px;
   padding-left: 30px;
   position: absolute;
   bottom: 0;
   transform: translateY(0%);

}


}
